.ContainerSebastian {
  max-width: 90%;
  flex: 1;
  margin: 0px auto;
  flex-wrap: inherit;
  display: flex;
  align-items: center;
  justify-content: left;
  height: 150px;
  flex-wrap: wrap;
}

.Container {
  flex: 0;
  margin: 0px auto;
  display: flex;
  align-items: center;
  justify-content: left;
  height: 300px;
  padding-left: 170px;
  padding-top: 10px;
  padding-right: 170px;
  padding-bottom: 10px;
}

.Image {
  background-image: url(../../Images/Fondo2.png);
  background-size: cover;
  height: 801px;
  width: 1680px;
  margin: 0;
  padding: 69px 100px;
  color: white;
}

.menu {
  height: 20px;
  padding: 118px 128px;
  justify-content: left;
  display: flex;
}

.menu ol {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.link {
  padding: 0 10px;
  justify-content: center;
  display: flex;
  text-decoration: none;
  color: white;
  display: flex;
  align-items: center;
}

.link:hover {
  color: #e31b6d;
}

.imgSeb {
  width: 42px;
  float: left;
  display: flex;
}
